:root {
    --main-color: #f16824;
    --gray-color:#7396ae;
    --linear-gradient:linear-gradient(to right, rgba(244, 107, 69, 0.385), rgba(255, 99, 71,0.4));
    --default-dark-color: rgb(22, 37, 65);
    --white-color:#fff;
}